/*style util*/

html {
    font-family: 'Raleway', sans-serif;
    background-color: #FFFDE8;
}

.you-bg-blue {
    background-color: #49b9f9;
}

.you-blue {
    color: #49b9f9;
}

.kanan-bg-green {
    background-color: #13A8AE;
}

.kanan-green {
    color: #13A8AE;
}

.pd-20 {
    padding: 20px;
}

i {
    vertical-align: middle;
}

p {
    font-size: 1.15rem;
}

/*Index*/

.banner-img {
    width: 100%;
}

.card {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.img-card {
    background-color: transparent;
    mix-blend-mode: multiply;
}

.card>img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2), 0 24px 80px 0 rgba(0, 0, 0, 0.19);
}

.img-overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.card:hover img {
    opacity: 0.3;
}

.card:hover .img-overlay {
    opacity: 0.7;
}

.text-center {
    text-align: center;
}

.countdown-timer {
    margin: 0 auto;
    align-content: center;
    align-items: center;
    text-align: center;
}

#countdown {
    font-size: 45px;
}

.back-to-top {
    background: none;
    margin: 0;
    position: fixed;
    bottom: 25px;
    right: 20px;
    width: 60px;
    height: 60px;
    z-index: 100;
    display: none;
    text-decoration: none;
    color: #ffffff;
    border-radius: 50%;
    background-color: grey;
    opacity: 0.7;
    transition: .5s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.back-to-top:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2), 0 24px 80px 0 rgba(0, 0, 0, 0.19);
}

.back-to-top i {
    font-size: 60px;
}

@media only screen and (min-width: 992px) {
    #navbar-brand {
        padding-left: 20px
    }
}

.intro {
    text-align: center;
}

.modal {
    background-color: transparent;
    box-shadow: none;
    outline: none;
    max-height: 75vh;
}